/* 
    Anatomia

    -Declaration
    -Selector
    -{} - context
    -Properties
    -Property value
*/

h1{
    color: blue;
    font-size: 60px;
    letter-spacing: 2;
    text-transform: uppercase;
}